.tijger {
  position: relative;
  left: 470px;
  top: 250px;
}

h1 {
  position: relative;
  left: 890px;
  top: 60px;
}

p1 {
  position: relative;
  float: right;
  right: 420px;
  top: 60px;
  width: 300px;
}
